.hero-section {
    width: 100%;
    height: 40vh;
    background-image: url('../../images/meals.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}
